
.wrapper {
    background-color: #D9D9D9;
    height: 100%;
    padding-top: 20dvh;
    padding-left: 5dvw;
    padding-right: 5dvw;
    padding-bottom: 20dvh;
}


.heading h1 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #03191E;
}

.heading span {
    display: block;
    width: 8%;
    height: 2px;
    background-color: #9F353A;
    margin-top: 26px;
    margin-bottom: 26px;
}

.question {
    border: 1px solid #899291;
    border-radius: 10px;
    margin-bottom: 20px;
}

.question p {
    background-color: #D9D9D9;
    padding-top: 0;
    margin-top: 0;
    padding: 24px;
}


.block {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.block h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #03191E;
}

.block p{
    font-size: 20px;
    line-height: 24px;
    color: #252422;
}

.block button{
    margin: 0;
}

.block div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

 #opened::before {
    content:'';
    width: 20px;
    height: 2px;
    background-color: #03191E;
    rotate: 45deg;
    position: relative;
    display: block;
    transform: translate(2px, -5px);
    transition: 0.5s;

} 

#opened::after {
    content:'';
    width: 20px;
    height: 2px;
    background-color: #03191E;
    rotate: -45deg;
    position: relative;
    display: block;
    transform: translate(7px, 1px);
    transition: 0.5s;
   
} 


#closed::before {
    content:'';
    rotate: 45deg;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #03191E;
    position: relative;
    transform: translate(3px, 11px);
    transition: 0.5s;

}



#closed::after {
    position: relative;
    content:'';
    rotate: -45deg;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #03191E;
    transform: translate(0px, 11px);
    transition: 0.5s;
}



@media screen and (max-width: 800px) {
    


    .wrapper {
        padding-top: 10dvh;

    }


    .heading h1 {
        font-size: 30px;
        line-height: 36px;
    }
    
    .block h1 {
        font-size: 18px;
        line-height: 24px;
    }

}


