@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.wrapper {
    background-color: #B2BAB8;
    height: 100%;
    padding-top: 20dvh;
    padding-left: 5dvw;
    padding-right: 5dvw;
    padding-bottom: 20dvh;
}

.heading h1 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #03191E;
}

.heading span {
    display: block;
    width: 8%;
    height: 2px;
    background-color: #9F353A;
    margin-top: 26px;
    margin-bottom: 26px;
}


.heading h3 {
    /* text-align: left; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #252422;
    max-width: 800px;
    }


 .reasons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 0dvw;
 }   


 
.card {
    max-width: 550px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    padding-top: 2dvh;
    padding-bottom: 2dvh;
    
}

.card h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #03191E;
    padding-top: 2dvh;
}

.card p {
    /* padding-top: 10%; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #383633;
}


@media screen and (max-width: 800px) {
    

        .wrapper {
            padding-top: 10dvh;
        }
    
        .heading h1 {
            font-size: 30px;
            line-height: 36px;
        }
    
        .heading h3 {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 10dvh;
        }

        .reasons {
            gap: 20px;
            padding-left: 0;
        }

        .reasons .card {
            margin-top: 0;
            max-width: 100%;
        }

        .card h3 {
            font-size: 20px;
            line-height: 24px;
            margin: 0;
        }

        .card p {
            font-size: 14px;
            line-height: 20px;
            max-width: 90%;
        }

    }