@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}










/* agenda page:begin */


.calendario {
  min-width: 320px;
  height: 100dvh;   
}

@media screen and (max-width: 800px) {
  .calendario {
    height: 100dvh;
    overflow-y: hidden;
  }
}

/* agenda page:end */
